$border-radius: 9px;
$height: 40px;

tldraw-editor {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;

  div.sharing-container {
    position: absolute;
    z-index: 2;
    left: 110px;
    display: flex;
    box-shadow: var(--shadows-panel);
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
    background-color: var(--colors-panel);
    border: 1px solid var(--colors-panelContrast);
    border-top: 0px;
    pointer-events: all;

    div {
      display: flex;
    }

    button.sharing-item,
    input.sharing-item {
      width: fit-content;
      min-width: $height;
      height: $height;
      border-radius: $border-radius;
      padding: 9px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--fontSizes-1);
      font-family: var(--fonts-ui);
      color: var(--colors-text);
      background: none;
      outline: none;
      border: 1px solid var(--colors-panel);
      user-select: none;
    }

    button.sharing-item-enabled {
      width: fit-content;
      min-width: $height;
      height: $height;
      border-radius: $border-radius;
      padding: 9px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--fontSizes-1);
      font-family: var(--fonts-ui);
      color: white;
      background-color: var(--colors-selected);
      outline: none;
      border: 1px solid var(--colors-panel);
      user-select: none;
    }

    input.input-join {
      width: 280px;
      text-align: center;
      outline: none;
      border: 1px solid var(--colors-panel);
    }

    button.sharing-item:hover,
    input.sharing-item:hover,
    button.sharing-item:focus,
    input.input-join:focus {
      background-color: var(--colors-hover);
    }

    button.sharing-item-enabled:focus {
      color: var(--colors-selected);
      background-color: var(--colors-hover);
    }
  }
}
