html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.tldraw {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

$border-radius: 9px;
$padding: 9px;
$height: 40px;
$left: 50px;

.container {
  z-index: 2;
  position: absolute;
  left: $left;
  display: flex;
  box-shadow: var(--shadows-panel);
  border-bottom-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  background-color: var(--colors-panel);
  border: 1px solid var(--colors-panelContrast);
}

.item {
  width: fit-content;
  min-width: $height;
  height: $height;
  border-radius: $border-radius;
  padding: $padding;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fontSizes-1);
  font-family: var(--fonts-ui);
  color: var(--colors-text);
  user-select: none;
}

.item:hover,
.input-join:focus {
  background-color: var(--colors-hover);
}

.input-join {
  border: none;
  outline: none;
  width: 280px;
  text-align: center;
}
