### VS Code ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### Yarn ###
.yarn/*
!.yarn/releases
!.yarn/plugins
.pnp.*

node_modules
.DS_Store
dist
dist-ssr
coverage
.env
*.local

### Tests ###
playwright-report
test-results
results.json


### Logs ###
logs
*.log
*.log.*.gz
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
